@model List<Recipes>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-danger mb-3">Let's cook something tasty!</h1>
    <div class="container">
        <div class="row justify-content-between align-items-center mt-5">
            <div class="col-4">
                <form method="post" asp-controller="Home" asp-action="Filter" class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Filtrar por categoría" aria-label="Filtrar por categoría">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <a class="btn btn-danger w-100" asp-controller="Home" asp-action="AddRecipe">Agregar</a>
            </div>
        </div>

        <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col text-danger">Name</th>
                    <th scope="col text-danger">Ingredients</th>
                    <th scope="col text-danger">Rating</th>
                    <th scope="col text-danger">Difficulty</th>
                    <th scope="col text-danger">Category</th>
                    <th scope="col text-danger">Actions</th>
                </tr>
                </thead>
                <tbody>
                @{
                    if (Model == null)
                    {
                        <tr>
                            <h4 class="text-secondary">Haven't been in the kitchen yet :(</h4>
                            <p class="text-secondary">No recipes found.</p>
                        </tr>
                    }
                    else
                    {
                        foreach (var recipe in Model)
                        {
                            <tr>
                                <td><i class="fa-solid fa-utensils text-danger"></i></td>
                                <td>@recipe.Name</td>
                                <td>
                                    @{
                                        foreach (var ingredient in recipe.Ingredients)
                                        {
                                            @ingredient.Name
                                            <br/>
                                        }
                                    }
                                </td>
                                <td>
                                    <a asp-route-Id="@recipe.Id" asp-action="IncreaseRating" asp-controller="Home"><i class="fa-solid fa-plus text-danger"></i></a>
                                    @recipe.Rating
                                    <a asp-route-Id="@recipe.Id" asp-action="DecreaseRating" asp-controller="Home"><i class="fa-solid fa-minus text-danger"></i></a>
                                </td>
                                <td>@recipe.Difficulty</td>
                                <td>@recipe.CategoryName</td>
                                <td></td>
                            </tr>
                        }
                    }
                }

                </tbody>
            </table>
    </div>
</div>